<form action="{% url 'polls:vote' question.id %}" method="post">
<!--GET: サーバ資源を「取得」するためのメゾット　非破壊的
<　POST: サーバ資源を「生成・変更」するためのメソッド
　この場合、投票は サーバ側データを更新するので POST メソッドを使う-->
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}
</fieldset>
<input type="submit" value="Vote">
</form>